.speech{
    font-family: "Times New Roman";
    font-size: 14px;
    color:black;
}
.stage-direction{
    font-family: "Biome";
    font-size: 16px;
    color:black;
    background-color: lightblue;
}
.name{
    font-family: "Century";
    font-size: 18px;
    color:black;
    background-color: lightgrey;
}
.stage-direction.hover{
    background-color: yellowgreen;
    color: tomato;
}
.JACK{
    color: teal;
}
.ALGERNON{
    color: violet;
}
.LANE{
    color: gold;
}
.LADY BRACKNELL{
    color: indianred;
}
.GWENDOLEN{
    color: green;
}
h6{
    margin:10px 0;
}
table, th, td, tr{
    border:solid blue;
    color: darkgoldenrod;
    text-align: left;
    border-collapse: collapse;
    padding: 12px;
    margin: 14px;
}
    tr:nth-child(even) {background-color:lightgrey ;}
  .name:hover{
      text-shadow: 5px 3px 8px green;
      border: solid 4px tomato;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:skyblue;
  }
 li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: blue
  }